doctype html
html
    head(lang="fr")
    title gateway
    meta(charset="utf-8")
    body
        div(class="container")
            h1 Calculatrice de la mort qui tue
            select(name="operateur")
                option(value="addition") addition
                option(value="soustraction") soustraction
                option(value="multiplication") multiplication
                option(value="division") division
            br
            | Nombre 1 :
            input(type="text" name="un")
            br
            | Nombre 2 :
            input(type="text" name="deux")
            br
            input(type="submit" id="calculer" value="Calculer")
            br
            h1 Prénom de la mort qui tue
            | Prénom :
            input(type="text" name="prenom")
            br
            input(type="submit" id="nombreDeLettre" value="Nombre de lettre")
            br
            input(type="submit" id="mystere" value="Mystère")
            hr
            h1 Boîte à résultats
            textarea(type="text" id="resultat" rows="4" cols="100")
        script(src="https://code.jquery.com/jquery-2.2.1.min.js")
        script.
            function ajaxSuccess (data) {
                $('#resultat').val(data);
            }
            $('document').ready(function(){
                $('#calculer').click(function(){
                    $.ajax({
                        url: '/calculatrice',
                        method: 'POST',
                        data: {
                            operateur: $('select[name="operateur"]').val(),
                            un: $('input[name="un"]').val(),
                            deux: $('input[name="deux"]').val()
                        },
                        success: ajaxSuccess
                    });
                });
                $('#nombreDeLettre').click(function(){
                    $.ajax({
                        url: '/prenom/nombreDeLettre/' + $('input[name="prenom"]').val(),
                        success: ajaxSuccess
                    });
                });
                $('#mystere').click(function(){
                    $.ajax({
                        url: '/prenom',
                        success: function (data) {
                            var obj = JSON.parse(data);
                            $('#resultat').val(obj.value.joke);
                        }
                    });
                });
            });
