doctype html
html
    head(lang="fr")
    title gateway
    meta(charset="utf-8")
    body
        div(class="container")
            p Ceci est un message dans une balise html
        script(src="https://code.jquery.com/jquery-2.2.1.min.js")